user_uuid="b1ae8798-cee7-429f-a582-57150f174eb9"
s3_bucket_name="yc7b0k6vvvojb00dqqsbmhsjplx9xr5h"
project_name="TF BootCamp Beginner 2003"
terraform="True"
#index_html_filepath="/home/elninosec16/Documents/TF_BootCamp/tf-bootcamp-repo/workspace/terraform-beginner-bootcamp-2023/public/index.html"
#error_html_filepath="/home/elninosec16/Documents/TF_BootCamp/tf-bootcamp-repo/workspace/terraform-beginner-bootcamp-2023/public/error.html"
error_html_filepath="public/error.html"
index_html_filepath="public/index.html"
assets_path="public/assets"
content_version="1"